.login-page {
  text-align: center;
  font-family: 'Fira Mono', monospace;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  position: relative;
}

.logo {
    width: 700px; 
    height: auto;
    position: absolute;
    top: 70px; 
    left: 50%;
    transform: translateX(-50%);
}


.error-message {
  background-color: rgba(255, 255, 255, 0.9);  
  color: red; 
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  width: auto; 
  max-width: 80%; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

