.system-admin-page {
  font-family: 'Fira Mono', monospace;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.system-admin-page .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--royal-blue);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.system-admin-page .top-bar h2 {
  margin: 0;
}

.system-admin-page .button-group {
  display: flex;
  gap: 10px; 
}

.system-admin-page .switch-view-btn,
.system-admin-page .logout-btn {
  background-color: var(--white);
  color: var(--royal-blue);
  padding: 10px 20px;
  border: 2px solid var(--white);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  width: 250px;
}

.system-admin-page .switch-view-btn:hover,
.system-admin-page .logout-btn:hover {
  background-color: var(--blue-grotto);
  color: var(--white);
  border: 2px solid var(--white);
}

.system-admin-page .content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
